html,
body
	height: 100%
    
body
    color: $b 
    padding-top: 150px
    padding-bottom: 110px  
    background-color: $w 

.wrapper
	width: 1200px 
	padding: 0 15px 
	margin: 0 auto 
	text-align: center 
	max-width: 100% 

+placeholder
	opacity: 1
    
.content
    height: 100% 
    display: flex
    flex-direction: column
    justify-content: center 
    &__wrap
        height: 90%
        background-color: rgba(0,0,0,.4)  