.footer
    +position(absolute, auto, 0, 0, 0)
    +transition(all, .4s)
    z-index: 100 
    
    height: 110px
    border-top: 1px solid #d3d4d9
    background: transparent 
    
    @media (max-width: 1600px)
        height: 80px 
        
    @media (max-width: 1400px)
        height: 60px