.header
	+position(absolute, 0, 0, auto, 0)
	+transition(all, .4s)
	z-index: 100 
	
	height: 150px
	background: #ffffff
	border-bottom: 1px solid #d3d4d9
	
	.wrapper,
	.row
		height: 100%

/* ------------------------------------ */
/*  NAV STYLES  */

.page-menu
	ul
		list-style-type: none

		li
			display: inline-block
			vertical-align: middle
			margin: 0 10px
			a
				color: $b 
				

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button
	+position(fixed, 15px, 10px, auto, auto)
	background: white
	border-radius: 50%
	box-shadow: 0 5px 10px rgba(black, 0.5)
	cursor: pointer
	-webkit-transform: rotate(0deg)
	-moz-transform: rotate(0deg)
	-o-transform: rotate(0deg)
	transform: rotate(0deg)
	-webkit-transition: .5s ease-in-out
	-moz-transition: .5s ease-in-out
	-o-transition: .5s ease-in-out
	transition: .5s ease-in-out
	cursor: pointer